[submodule "db"]
	path = db
	url = https://github.com/IT-Wintercamp-2025/db
[submodule "backend"]
	path = backend
	url = https://github.com/IT-Wintercamp-2025/backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/IT-Wintercamp-2025/frontend
[submodule "db"]
	path = db
	url = https://github.com/IT-Wintercamp-2025/db
